CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="v0.1.0"
CONFIG_PROJECT_FIRMWARE_UPGRADE_URL="FROM_STDIN"
CONFIG_PROJECT_SKIP_COMMON_NAME_CHECK=y
CONFIG_PROJECT_SKIP_VERSION_CHECK=y
CONFIG_PROJECT_OTA_RECV_TIMEOUT=3000
CONFIG_PROJECT_FIRMWARE_UPGRADE_URL="https://esprog:8089/firmware.bin"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="anti_rollback_partition.csv"
CONFIG_PARTITION_TABLE_FILENAME="anti_rollback_partition.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_BOOTLOADER_APP_ANTI_ROLLBACK=y
CONFIG_BOOTLOADER_APP_SECURE_VERSION=1
CONFIG_BOOTLOADER_EFUSE_SECURE_VERSION_EMULATE=y
CONFIG_EXAMPLE_CONNECT_ETHERNET=n
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_EXAMPLE_ETH_PHY_IP101=y
CONFIG_EXAMPLE_ETH_MDC_GPIO=23
CONFIG_EXAMPLE_ETH_MDIO_GPIO=18
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=5
CONFIG_EXAMPLE_ETH_PHY_ADDR=1
CONFIG_EXAMPLE_CONNECT_IPV6=n
CONFIG_LWIP_LOCAL_HOSTNAME="epaper"
CONFIG_EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT=y
