CONFIG_PROJECT_FIRMWARE_UPGRADE_URL="FROM_STDIN"
CONFIG_PROJECT_SKIP_COMMON_NAME_CHECK=y
CONFIG_PROJECT_SKIP_VERSION_CHECK=y
CONFIG_PROJECT_OTA_RECV_TIMEOUT=3000
CONFIG_PROJECT_FIRMWARE_UPGRADE_URL="https://esprog:8089/firmware.bin"
CONFIG_LWIP_LOCAL_HOSTNAME="epaper"
CONFIG_EXAMPLE_CONNECT_IPV6=n
